<div class="container">
       <br/>
       <br/>
       <div class="row">
          <div class="col-sm-8">
             <div class= container-fluid>
                <h1> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Fatto da un appassionato<h1>
                <h1> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; per appassionati </h1>
                <br/>
                <h5>Entra anche tua far parte della community di Think-Sell,il numero uno 
                nella vendita di think-pad. <br/>
                Ogni giorni migliaia di persone appassionate si unicoscono a noi per comprare e vendere.<br/>
             </div>
          </div>
          
        </div>
    </div>