<div class="container">
    <div class="jumbotron">
        
        <h1 class="display"> ABOUT </h1>
        </br>
        </br>
        <h4>
        Benvenuti in Think-Sell!
        Questo sito è stato ideato e sviluppato da uno studente della Sapienza al fine di agevolare la compravendita di prodotti della linea thinkpad in uno spazio dedicato. </br>
        Ogni utente può cercare o postare un annuncio riguardo a un prodotto della linea thinkpad ed
        entrare in contatto con altri utenti sfruttando le generalità fornite dagli stessi.</br>
        Ad ogni utente registrato sarà data la funzione di creazione/modifica/cancellazione di un’inserzione, con-
        tattare utenti per comprare il prodotto di interesse e sarà inoltre messa a disposizione una wishlist dove
        poter inserire le proprie inserzioni preferite in modo tale da poterle ritrovare più velocemente.</br>
        </h4>
    </div>

</div>